:root {
    --bg-primario: #6A9AB0;
    --color-primario: #3A6D8C;
    --color-secundario: #001F3F;
    --color-terciario: #EAD8B1; 
}
img{
    height: 200px;
    border-radius: 45px;
}

ul{
    list-style: none;
}


body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: var(--color-secundario);
    
    color: var(--color-secundario);
  }
div{
    padding: 5px;
}
aside{
    margin: 15px;
    box-shadow: 5px 5px 15px var(--color-secundario);
    column-count: 2;
    border-radius: 15px;
    background-color: var(--color-terciario);
    flex-direction: row;
    position: sticky;
    top: 0;
}    
main{
    
    margin: 20px;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--bg-primario);
}

h1{
    color: var(--color-secundario);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

h2{
    color: var(--color-secundario);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: var(--color-primario);
    border-radius: 2%;
}

h3{
    color: var(--color-terciario);
    border: 2px solid  var(--color-secundario);
    border-radius: 10px;
    background-color: var(--color-secundario);
}

footer{
    
    border-radius: 15px;
    font-size: bold;
    color: rgb(255, 255, 255);
    background-color:  var(--color-primario);
}

audio{
 
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}


a{
    color: var(--bg-primario);
}

a:hover{
    color:  var(--color-terciario);
}