body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(250, 250, 255);
    text-align: center;
  }


h2{
    color: white;
    background-color: blueviolet;
    border-radius: 2%;
}

h3{
    color: rgb(0, 0, 0);
    border: 2px;
    border-color:blueviolet;
}

footer{
    font-size: bold;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
}

audio{
    width: 100%;
}


a{
    color: rgb(0, 0, 0);
}

a:hover{
    color: aliceblue;
}